
<h2>Puppy name: <%=@name %></h2>
<h2>Puppy breed: <%=@breed %></h2>
<h2>Puppy age: <%=@age %></h2>

<form method="POST" action="/new">
  <h2>Add Another Puppy</h2>
  <h2>Puppy Name: <input type="text" id="name" name="name"></h2>
  <h2>Puppy Breed: <input type="text" id="breed" name="breed"></h2>
  <h2>Puppy Age: <input type="text" id="age" name="age"></h2>
  <input type="submit" id="Submit" name="submit">
</form>
